body,
html {
  height: 100%;
  width: 100%;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
h1.sam {
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
div.section {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
  color: #333333;
}
.byline {
  margin: 20px 0 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
.byline::before,
.byline::after {
  content: "";
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  height: 0;
  padding-top: 1px;
  border-bottom: 1px dashed #666;
}
.byline h3 {
  margin: 0 20px;
}
.byline img {
  display: block;
  margin: 0 20px;
}
.rounded {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
h1,
h2,
h3 {
  font-weight: 900;
}
.go.on.do.it {
  font-size: 1.3em;
}
.go.on.do.it a i.fa {
  color: #8c8c8c;
}
.social-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.3em;
}
.social-links li {
  display: inline;
}
.konamified {
  background-color: #333;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/lizlemon.gif);
}
.konamified div.section {
  background-color: transparent;
  color: #fff;
}
.konamified a {
  color: #9DBDDA;
}
.konamified .byline::before,
.konamified .byline::after {
  border-bottom: 1px dashed #ddd;
}
.konamified .byline img {
  opacity: 0.5;
}
.konamified .go.on.do.it a i.fa {
  color: #fff;
}
@media (min-width: 768px) {
  h1.sam {
    position: relative;
    top: 60px;
    text-align: right;
  }
  .byline {
    margin-bottom: 20px;
  }
  .byline::before {
    min-width: 50%;
  }
  .go.on.do.it a.phone {
    color: #333;
  }
  .go.on.do.it a.phone:hover {
    text-decoration: none;
    cursor: default;
  }
  .social-links {
    float: right;
    margin-top: -4.5em;
  }
  .social-links li {
    display: block;
    display: list-item;
  }
  [data-funny-title]:hover::after {
    padding-left: 1em;
    content: "(" attr(data-funny-title) ")";
    font-style: italic;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.15);
  }
  .konamified .go.on.do.it a.phone {
    color: #fff;
  }
}
